<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>트레이너 예약 페이지</title>
    <link rel="stylesheet" type="text/css" href = "../static/reservation.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="trainer_bok">
        <h3>트레이너1</h3>
        <p>트레이너 정보</p>
        <p>트레이너 key: {{ trainer_key }}</p>
        <button onclick="reserve()">예약</button>
    </div>

    <script src="../static/reservation.js"></script>
</body>
</html>